[project]
	description = Android device specific source code for the OnePlus 2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neil (regalstreak)
[access "refs/for/refs/*"]
	read = group user/Neil (regalstreak)
	push = group user/Neil (regalstreak)
	label-Code-Review = -2..+2 group user/Neil (regalstreak)
	label-Verified = -1..+1 group user/Neil (regalstreak)
	rebase = group user/Neil (regalstreak)
	removeReviewer = group user/Neil (regalstreak)
	submit = group user/Neil (regalstreak)
[access "refs/heads/*"]
	read = group user/Neil (regalstreak)
	create = group user/Neil (regalstreak)
	push = +force group user/Neil (regalstreak)
	pushMerge = group user/Neil (regalstreak)
[access "refs/tags/*"]
	push = +force group user/Neil (regalstreak)
	pushTag = group user/Neil (regalstreak)
	pushSignedTag = group user/Neil (regalstreak)
